.btn{
    border-radius: 8px;
}

.btn-verde {
    background-color: #96c93e; /* Verde */
    border-radius: 6px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    width: 100%;
}

.btn-dark{
    border: 1px solid white;
}

.tabla-der{
    color: white;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.tp{
    border-style: solid;
    border: 1px black;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

textarea::placeholder {
    font-size: 24px;
}

.nav-verde  {
    color: green!important;
}
.nav-verde:hover  {
    color: rgb(40, 231, 19)!important;
}

.piepagina {
    background-color: #1c3846;
    margin-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}
.linkpie {
    color: white;
}
.linkpie:hover {
    color: black;
}